<!DOCTYPE html>
<html ng-app="App">
	<head>
		<title></title>
		<!-- BOOTSTRAP -->
    	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    	<!-- HOME.CSS -->
    	<link rel="stylesheet" href="/css/edit-profile.css">
	</head>
	<body ng-controller="mainController">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="container">
				
				<h1>Hey there, {{user.name}}</h1>
				


				<div class="row">
					
					<div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    				ngf-accept="'image/*'">Select</div>

				</div>



				<div class="row">
					<textarea class="form-control" ng-model="user.bio" ng-blur="updateBio()"></textarea>
				</div>
				
			</div>
		</div>
		<!-- ANGULAR -->
		<script src="/node_modules/angular/angular.js"></script>
		<!-- MAIN.JS -->
		<script src="/javascript/main.js" type="text/javascript"></script>
		<!-- LIBRARIES -->
		<script src="/node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
		<script src="/node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
		<script src="/node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>
	</body>
</html>